@import "../colors";
@import "../mixins";

/* stylelint-disable color-no-hex */
$color--header-text: #fff;
$color--nav-hover: #f6f6f6;
$color--nav-text: #000;
$color--dropdown-background: #fff;
$color--dropdown-border: rgba(0, 0, 0, 0.15);
$color--dropdown-shadow: rgba(0, 0, 0, 0.175);
/* stylelint-enable */

#root > header {
  background: $color--branding-primary;
  color: $color--header-text;
  display: flex;
  grid-area: header;
  padding: 0 1em;
}

.header-logo {
  height: 65px;
  margin-right: 1em;

  img {
    height: 100%;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-nav-menu {
  display: flex;

  &.admin {
    .dropdown {
      right: 0;
    }
  }
}

.header-menu-item {
  height: 100%;
  @include animate-property(background-color);

  a,
  .link {
    color: $color--header-text;
    cursor: pointer;
    height: 100%;
    padding: 0 1em;
    text-decoration: none;
    @include align-vertical;

    .caret {
      margin-left: 0.5em;
    }

    .icon {
      margin-right: 1em;
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.header-menu-dropdown {
  background: $color--dropdown-background;
  border: 1px solid $color--dropdown-border;
  border-radius: 4px;
  box-shadow: 0 6px 12px $color--dropdown-shadow;
  display: none;
  margin: 0;
  min-width: 10em;
  padding: 1em 0;
  position: absolute;

  &.show {
    display: block;
  }

  a,
  .link {
    color: $color--nav-text;
    padding: 0.6em 1em;
    text-decoration: none;

    &:hover {
      background: $color--nav-hover;
    }
  }

  .seperator {
    border-top: 1px solid $color--dropdown-border;
    margin: 0.5em 0;
  }
}
