@import "../colors";
@import "../mixins";

/* stylelint-disable color-no-hex */
$color--spinner-background: rgba(0, 0, 0, 0.7);
$color--spinner-tail: rgba(255, 255, 255, 0.2);
$color--spinner-close: #888;
$color--spinner-text: #fff;
/* stylelint-enable */

.progress-box {
  background: $color--spinner-background;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "contents"
    "footer";
  grid-template-rows: auto 30px;
  height: 160px;
  left: calc(50% - 80px);
  position: absolute;
  top: calc(40% - 80px);
  width: 160px;
  z-index: 2000;

  .close {
    color: $color--spinner-close;
    cursor: pointer;
    height: 32px;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 32px;
    z-index: 2020;
    @include align-vertical;
    @include animate-property(color);

    &:hover {
      color: $color--spinner-text;
    }
  }

  .spinner {
    grid-area: contents;

    path {
      fill-opacity: 0;
      stroke-linecap: round;
      stroke-width: 8px;
    }

    .tail {
      stroke: $color--spinner-tail;
    }

    .progress {
      stroke: $color--spinner-text;
    }
  }

  .title {
    color: $color--spinner-text;
    grid-area: footer;
    text-align: center;
    @include font-size(0.875);
  }
}
